*{
    box-sizing: border-box;
}

#navbar{
  color : white;
  background: rgb(49, 61, 221);
  padding: 60px 10px;
  position: fixed; /*fixe en haut la navbar*/
  top: 0%;
  width: 100%;
  transition: 0.4s;
  
}

#navbar a {
    float: left; /*on les fait flotter à gauche*/
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
}

#navbar #logo{
    font-size: 35px;
    font-weight: bold;
}

#navbar-right{
    float: right;
}

.container{
    padding: 20px;
}






/*********************************** CAROUSEL *****************************************************/





.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.slider img{
    width: 700px;
    height: 250px;
    display: none;
    object-fit: cover;
}

img.active{
    display: block;
    animation: fade 0.8s;
}

@keyframes fade{
    from {opacity: 0;}
    to {opacity: 1;}
}

.buttons {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
  }
  .btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
  }







/****************************************************************************************/


body{
    margin: 0%;
    font-family: 'DM Sans', sans-serif;
    margin-top: 180px;
}

h2{
    text-align: center;
}



label{
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
}

input{
    display: block;
    width: 230px;
    height: 30px;
    margin: auto;
}

input:hover {
    cursor: pointer;
}


.entrees{
    margin: 40px;
}











img {
    object-fit: cover;
    width: 40%;
    max-width: 250px;
  }

.result-container {
    margin: 0 auto;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1400px;
    list-style: none;
  }
  li {
    max-width: 400px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
  }
  h2 {
    margin: 10px 0 25px;
  }






